<div>	
	<!-- Each input for a transition -->
	<input hidden_input type="checkbox" id="show-hide-chat" >

	<input hidden_input type="checkbox" id="show-chat-content" >

	<input hidden_input type="checkbox" id="show-chat-section-1" >

	<input hidden_input type="checkbox" id="show-chat-section-2" >


	{% include "chunks/chat-show-button.html" %}


	<div chat_container id="chat-main" chatwindow="true" >
		
		<div chat_header_background id="chat__header_bg" >

			{% include "chunks/chat-default-header.html" %}
			{% include "chunks/chat-sections/chat-header-sec-1.html" %}
			{% include "chunks/chat-sections/chat-header-sec-2.html" %}			
		</div>
		{% include "chunks/chat-content/chat-content-row.html" %}
		{% include "chunks/chat-content/chat-content-grid.html" %}

		{% include "chunks/chat-sections/chat-section-1.html" %}
		{% include "chunks/chat-sections/chat-section-2.html" %}

		{% include "chunks/chat-button-footer.html" %}
							
	</div>
</div>
